/* Container needed to position the button. Adjust the width as needed */
/* Globally in styles/globals.css */

.background_image_style {
  /* The image used */
  background-image: url(../public/Homepage.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Full height and width */
  width: 100vw;
  height: 100vh;
}